 
.logo{
    width: 10%;
    display: flex;

}
.logo abcd{
    width: 33%;
}
.navbar{
    display: flex;
}
.nav-list{
    width: 50%;
    display: flex;
    align-items: right;
}
.nav-list li{
    list-style: none;
    padding: 26px 30px;
}
.nav-list a{
     text-decoration: none;
     color:black;
}
.nav-list a:hover{
    color:gray;
}
.rightNav{
    background-color:white;
    width: 60%;
    
}
#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid gray;
    border-radius: 9px;


    
